DB__DRIVER=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=password
DB__NAME=postgres

AUTH__JWT_PRIVATE_KEY=your_secret_key_here
AUTH__JWT_ALGORITHM=HS256
AUTH__JWT_ACCESS_TOKEN_EXPIRE=3600
AUTH__JWT_REFRESH_TOKEN_EXPIRE=604800
AUTH__ACCOUNT_CONFIRMATION_TOKEN_EXPIRE=86400
AUTH__PASSWORD_RESET_TOKEN_EXPIRE=3600

RBAC__ADMIN_EMAIL=admin@example.com
RBAC__ADMIN_PASSWORD=admin123456

SMTP__USERNAME=your-smtp-email@example.com
SMTP__PASSWORD=your-smtp-app-password
SMTP__HOST=smtp.example.com
SMTP__PORT=587
SMTP__USE_CREDENTIALS=true
SMTP__STARTTLS=true
SMTP__SSL_TLS=false
SMTP__VALIDATE_CERTS=true

EMAIL__FROM_EMAIL=noreply@example.com
EMAIL__FROM_NAME=UML Diagram Editor
EMAIL__TEMPLATE_FOLDER=app/templates/email
EMAIL__ACCOUNT_CONFIRMATION_SUBJECT=Account confirmation
EMAIL__PASSWORD_RESET_SUBJECT=Password reset confirmation
EMAIL__ACCOUNT_CONFIRMATION_PATH=/auth/confirm
EMAIL__PASSWORD_RESET_PATH=/auth/password/change

FRONTEND__SCHEME=http
FRONTEND__HOST=localhost
FRONTEND__PORT=3000
