DB__DRIVER=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=password
DB__NAME=postgres

AUTH__JWT_PRIVATE_KEY=your_secret_key_here
AUTH__JWT_ALGORITHM=HS256
AUTH__JWT_ACCESS_TOKEN_EXPIRE=3600
AUTH__JWT_REFRESH_TOKEN_EXPIRE=604800

RBAC__ADMIN_EMAIL=admin@example.com
RBAC__ADMIN_PASSWORD=admin123456
